<!DOCTYPE html>
<html lang="ru">
{% load static %}

<head>
    <meta charset="utf-8">
    <title>Магазин - Это база</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Add site Favicon -->
    <link rel="icon" href="{% static 'images_new/favicon/base_32x32.ico' %}" sizes="32x32">
    <link rel="icon" href="{% static 'images_new/favicon/base_192x192.ico' %}" sizes="192x192">
    <link rel="apple-touch-icon" href="{% static 'images_new/favicon/base_180x180.ico' %}">
    <meta name="msapplication-TileImage" content="{% static 'images_new/favicon/base_256x256.ico' %}"/>

    <!-- All CSS is here -->
    <link rel="stylesheet" href="{% static 'css/vendor/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/vendor/pe-icon-7-stroke.css' %}">
    <link rel="stylesheet" href="{% static 'css/vendor/themify-icons.css' %}">
    <link rel="stylesheet" href="{% static 'css/vendor/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/plugins/animate.css' %}">
    <link rel="stylesheet" href="{% static 'css/plugins/aos.css' %}">
    <link rel="stylesheet" href="{% static 'css/plugins/magnific-popup.css' %}">
    <link rel="stylesheet" href="{% static 'css/plugins/swiper.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/plugins/jquery-ui.css' %}">
    <link rel="stylesheet" href="{% static 'css/plugins/nice-select.css' %}">
    <link rel="stylesheet" href="{% static 'css/plugins/select2.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/plugins/easyzoom.css' %}">
    <link rel="stylesheet" href="{% static 'css/plugins/slinky.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
<div class="main-wrapper main-wrapper-2">
    {% include 'header.html' %}
    {% include 'cart_mini.html' %}
    {% block content %}
    {% endblock content %}
    {% include 'footer.html' %}
</div>

<!-- All JS is here -->
<script src="{% static 'js/vendor/modernizr-3.11.2.min.js' %}"></script>
<script src="{% static 'js/vendor/jquery-3.6.0.min.js' %}"></script>
<script src="{% static 'js/vendor/jquery-migrate-3.3.2.min.js' %}"></script>
<script src="{% static 'js/vendor/popper.min.js' %}"></script>
<script src="{% static 'js/vendor/bootstrap.min.js' %}"></script>
<script src="{% static 'js/plugins/wow.js' %}"></script>
<script src="{% static 'js/plugins/scrollup.js' %}"></script>
<script src="{% static 'js/plugins/aos.js' %}"></script>
<script src="{% static 'js/plugins/magnific-popup.js' %}"></script>
<script src="{% static 'js/plugins/jquery.syotimer.min.js' %}"></script>
<script src="{% static 'js/plugins/swiper.min.js' %}"></script>
<script src="{% static 'js/plugins/imagesloaded.pkgd.min.js' %}"></script>
<script src="{% static 'js/plugins/isotope.pkgd.min.js' %}"></script>
<script src="{% static 'js/plugins/jquery-ui.js' %}"></script>
<script src="{% static 'js/plugins/jquery-ui-touch-punch.js' %}"></script>
<script src="{% static 'js/plugins/jquery.nice-select.min.js' %}"></script>
<script src="{% static 'js/plugins/waypoints.min.js' %}"></script>
<script src="{% static 'js/plugins/counterup.min.js' %}"></script>
<script src="{% static 'js/plugins/select2.min.js' %}"></script>
<script src="{% static 'js/plugins/easyzoom.js' %}"></script>
<script src="{% static 'js/plugins/slinky.min.js' %}"></script>
<script src="{% static 'js/plugins/ajax-mail.js' %}"></script>
<!-- Main JS -->
<script src="{% static 'js/main.js' %}"></script>
</body>
</html>
