{% load static %}
<footer class="footer-area">
    <div class="bg-gray-2">
        <div class="container">
            <div class="footer-top pt-80 pb-35">
                <div class="row">
                    <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                        <div class="footer-widget footer-about mb-40">
                            <div class="footer-logo">
                                <a href="{% url 'index' %}"><img src="{% static 'images_new/logo/logo2.png' %}"
                                                              width="220" height="40"   alt="logo"></a>
                            </div>
                            <p>Это База - Одежда на каждый день.</p>
                            <!--                            <div class="payment-img">-->
                            <!--                                <a href="#"><img src="/static/images/icon-img/payment.png" alt="logo"></a>-->
                            <!--                            </div>-->
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                        <div class="footer-widget footer-widget-margin-1 footer-list mb-40">
                            <h3 class="footer-title">О компании</h3>
                            <ul>
                                <li><a href="about-us.html">О Бренде</a></li>
                            </ul>
                            <ul>
                                <li></li>
                                <ul/>
                                <h3 class="footer-title">Следите за нами</h3>
                                <div class="social-icons">
                                    <a href="https://vk.com/etobazashop" target="_blank">
                                        <img src="{% static 'images_new/icon/vk.png' %}" alt="VK Icon">
                                    </a>
                                    <a href="https://t.me/nikismol" target="_blank">
                                        <img src="{% static 'images_new/icon/telegram.png' %}" alt="Telegram Icon">
                                    </a>
                                    <a href="https://www.instagram.com/eto.baza?igsh=MXBvOWd2ZmFsbHNjbQ==" target="_blank">
                                        <img src="{% static 'images_new/icon/instagram.png' %}" alt="Instagram Icon">
                                    </a>
                                </div>
                        </div>
                    </div>

                    <div class="col-lg-2 col-md-6 col-sm-6 col-12">
                        <div class="footer-widget footer-list mb-40">
                            <h3 class="footer-title">Покупателям</h3>
                            <ul>
                                <li><a href="my-account.html">Оплата</a></li>
                                <li><a href="#">Доставка</a></li>
                                <li><a href="wishlist.html">Возврат</a></li>
                                <li><a href="#">Условия обслуживания</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6 col-12">
                        <div class="footer-widget footer-widget-margin-2 footer-address mb-40">
                            <h3 class="footer-title">Контактные данные</h3>
                            <ul>
                                <li><span>Наш адрес: </span>Москва, Большая Новодмитровская ул., 36, стр. 26, подъезд 5
                                </li>
                                <li><span>Телефон:</span> +7 (936) 257-46-37</li>
                                <!--                                <li><span>Email: </span>demo@example.com</li>-->
                            </ul>
                            <div class="open-time">
                                <p>Часы работы: <span>12:00 </span> - <span>20:00 </span></p>
                                <p>Ежедневно, без выходных </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bg-gray-3">
        <div class="container">
            <div class="footer-bottom copyright text-center bg-gray-3">
                <p>2020-2024 © Это База - Одежда на каждый день.</p>
            </div>
        </div>
    </div>
</footer>