{% load static %}
<header class="header-area header-responsive-padding header-height-1">
    <div class="header-bottom sticky-bar">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-3 col-md-6 col-6">
                    <div class="logo">
                        <a href="{% url 'index' %}"><img src="{% static 'images_new/logo/logo3.png' %}" width="220px" height="40px"alt="logo"></a>
                    </div>
                </div>
                <div class="col-lg-6 d-none d-lg-block d-flex justify-content-center">
                    <div class="main-menu text-center">
                        <nav>
                            <ul>
                                <li><a href="{% url 'index' %}">Главная</a></li>
                                <li><a href="{% url 'store' %}">Все товары</a>
                                    <ul class="mega-menu-style mega-menu-mrg-1">
                                        <li>
                                            <ul>
                                                <li>
                                                    <a class="dropdown-title" >Категории</a>
                                                    {% include "all_categories.html" %}
                                                </li>
                                                <li>
                                                    <a class="dropdown-title" href="all_collections.html">Коллекции</a>
                                                    {% include "all_collections.html" %}
                                                </li>
                                                <li>
                                                    <a href="shop.html"><img src="/static/images/banner/menu.png" alt=""></a>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
<!--                                <li><a href="#">PAGES</a>-->
<!--                                    <ul class="sub-menu-style">-->
<!--                                        <li><a href="about-us.html">about us </a></li>-->
<!--                                        <li><a href="cart.html">cart page</a></li>-->
<!--                                        <li><a href="checkout.html">checkout </a></li>-->
<!--                                        {% if user.is_authenticated %}-->
<!--                                            <li><a href="{% url 'profile' %}">my account</a></li>-->
<!--                                        {% endif %}-->
<!--                                        <li><a href="wishlist.html">wishlist </a></li>-->
<!--                                        <li><a href="compare.html">compare </a></li>-->
<!--                                        <li><a href="contact-us.html">contact us </a></li>-->
<!--                                        <li><a href="{% url 'login_register' %}">login / register </a></li>-->
<!--                                    </ul>-->
<!--                                </li>-->
                                <li><a href="{% url 'about'%}">О Бренде</a></li>
                                <li><a href="{% url 'contact'%}">Наши Контакты</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-6">
                    <div class="header-action-wrap">
                        <div class="header-action-style header-search-1">
                            <a class="search-toggle" href="#">
                                <i class="pe-7s-search s-open"></i>
                                <i class="pe-7s-close s-close"></i>
                            </a>
                            <div class="search-wrap-1">
                                <form action="#">
                                    <input placeholder="Search products…" type="text">
                                    <button class="button-search"><i class="pe-7s-search"></i></button>
                                </form>
                            </div>
                        </div>
<!--                        {% if user.is_authenticated %}-->
<!--                        <div class="header-action-style">-->
<!--                            <a title="My Account" href="{% url 'profile'%}"><i class="pe-7s-user"></i></a>-->
<!--                        </div>-->
<!--                        {% else %}-->
<!--                        <div class="header-action-style">-->
<!--                            <a title="Login Register" href="{% url 'login_register' %}"><i class="pe-7s-user"></i></a>-->
<!--                        </div>-->
<!--                        {% endif %}-->
<!--                        <div class="header-action-style">-->
<!--                            <a title="Wishlist" href="wishlist.html"><i class="pe-7s-like"></i></a>-->
<!--                        </div>-->
<!--                        <div class="header-action-style header-action-cart">-->
<!--                            <a class="cart-active" href="#"><i class="pe-7s-shopbag"></i>-->
<!--                                <span class="product-count bg-black">01</span>-->
<!--                            </a>-->
<!--                        </div>-->
<!--                        <div class="header-action-style d-block d-lg-none">-->
<!--                            <a class="mobile-menu-active-button" href="#"><i class="pe-7s-menu"></i></a>-->
<!--                        </div>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>