{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="breadcrumb-area bg-gray-4 breadcrumb-padding-1">
        <div class="container">
            <div class="breadcrumb-content text-center">
                <h2 data-aos="fade-up" data-aos-delay="200">Product Details</h2>
                <ul data-aos="fade-up" data-aos-delay="400">
                    <li><a href="{% url 'index' %}">Home</a></li>
                    <li><i class="ti-angle-right"></i></li>
                    <li>Product Details Fixed Image</li>
                </ul>
            </div>
        </div>
        <div class="breadcrumb-img-1" data-aos="fade-right" data-aos-delay="200">
            <img src="{% static 'images/banner/breadcrumb-1.png' %}" alt="">
        </div>
        <div class="breadcrumb-img-2" data-aos="fade-left" data-aos-delay="200">
            <img src="{% static 'images/banner/breadcrumb-2.png' %}" alt="">
        </div>
    </div>
    <div class="product-details-area pb-100 pt-100">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="product-details-img-wrap" data-aos="fade-up" data-aos-delay="200">
                        <div class="easyzoom-style">
                            <div class="easyzoom easyzoom--overlay">
                             <!-- в a href надо вставить большую фотографию 1000х10000 -->
                                <a href="{% url 'product_detail' product_id=product.id  %}">
                                    <img src="{{ product.image.url }}" alt="{{ product.name }}">
                                </a>
                            </div>
                            <a class="easyzoom-pop-up img-popup" href="{{ product.image.url }}">
                                <i class="pe-7s-search"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="product-details-content" data-aos="fade-up" data-aos-delay="400">
                        <h2>{{ product.name }}</h2>
                        <div class="product-details-price">
                            <span class="old-price">{{ product.price }}</span>
                            <spafromn class="new-price">$20.25</spafrom imfrom  impon>
                        </div>
                        <div class="product-color product-color-active product-details-color">
                            <span>Color :</span>
                            <ul>
                                <li><a title="Black" class="Black" href="#">Black</a></li>
                                <li><a title="Yellow" class="active yellow" href="#">yellow</a></li>
                                <li><a title="Purple" class="purple" href="#">purple</a></li>
                            </ul>
                        </div>
                        <div class="product-details-action-wrap">
                            <div class="product-quality">
                                <input class="cart-plus-minus-box input-text qty text" name="qtybutton" value="1">
                            </div>
                            <div class="single-product-cart btn-hover">
                                <a href="#">Add to cart</a>
                            </div>
                            <div class="single-product-wishlist">
                                <a title="Wishlist" href="wishlist.html"><i class="pe-7s-like"></i></a>
                            </div>
                            <div class="single-product-compare">
                                <a title="Compare" href="#"><i class="pe-7s-shuffle"></i></a>
                            </div>
                        </div>
                        <div class="product-details-meta">
                            <ul>
                                <li><span class="title">Category:</span>
                                    <ul>
                                        <li><a href="#">{{ product.categories }}</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}